Create empty .xlsx file

In [80]:
import pandas as pd

READ 'B2B 8400 662022.xlsx' and copy

In [90]:
data1 = pd.read_excel('./data/B2B 8400 662022.xlsx','Sheet1')
print(data1.head())

       pallet        carton             imei                iccid  \
0  ELTOMG0149  ELTOMG004706  351629551779045  8901240177129866049
1  ELTOMG0149  ELTOMG004706  351629551781488  8901240177129856685
2  ELTOMG0149  ELTOMG004706  351629551808620  8901240177126175113
3  ELTOMG0149  ELTOMG004706  351629551823322  8901240177129869829
4  ELTOMG0149  ELTOMG004706  351629551845143  8901240177129859960

               model  color           Location      carton.1
0  Elite OctaMax 3GB  Black  Phoenix Worcester  ELTOMG004706
1  Elite OctaMax 3GB  Black  Phoenix Worcester  ELTOMG004706
2  Elite OctaMax 3GB  Black  Phoenix Worcester  ELTOMG004706
3  Elite OctaMax 3GB  Black  Phoenix Worcester  ELTOMG004706
4  Elite OctaMax 3GB  Black  Phoenix Worcester  ELTOMG004706

In [91]:
dat = data1.drop('carton.1', axis=1)
dat

,pallet,carton,imei,iccid,model,color,Location
0,ELTOMG0149,ELTOMG004706,351629551779045,8901240177129866049,Elite OctaMax 3GB,Black,Phoenix Worcester
1,ELTOMG0149,ELTOMG004706,351629551781488,8901240177129856685,Elite OctaMax 3GB,Black,Phoenix Worcester
2,ELTOMG0149,ELTOMG004706,351629551808620,8901240177126175113,Elite OctaMax 3GB,Black,Phoenix Worcester
3,ELTOMG0149,ELTOMG004706,351629551823322,8901240177129869829,Elite OctaMax 3GB,Black,Phoenix Worcester
4,ELTOMG0149,ELTOMG004706,351629551845143,8901240177129859960,Elite OctaMax 3GB,Black,Phoenix Worcester
...,...,...,...,...,...,...,...
8395,ELTOMG0758,ELTOMG022438,351629559018149,8901240177121343716,Elite OctaMax 3GB,Dark Gray,Washington DC
8396,ELTOMG0758,ELTOMG022438,351629559018222,8901240177121345034,Elite OctaMax 3GB,Dark Gray,Washington DC
8397,ELTOMG0758,ELTOMG022438,351629559018446,8901240177121343690,Elite OctaMax 3GB,Dark Gray,Washington DC
8398,ELTOMG0758,ELTOMG022438,351629559026720,8901240177121347691,Elite OctaMax 3GB,Dark Gray,Washington DC
8399,ELTOMG0758,ELTOMG022438,351629559027520,8901240177121347758,Elite OctaMax 3GB,Dark Gray,Washington DC

In [92]:
data1 = dat

In [93]:
cols = list(data1.columns)
cols

['pallet', 'carton', 'imei', 'iccid', 'model', 'color', 'Location']

In [94]:
df = pd.read_excel('./data/default.xlsx', 'Sheet1')

In [95]:
df[cols] = data1[cols]

In [96]:

df['imei'] = df['imei'].astype('int64')
df['iccid'] = df['iccid'].astype('int64')
print(df)

          pallet        carton             imei                iccid  \
0     ELTOMG0149  ELTOMG004706  351629551779045  8901240177129866049
1     ELTOMG0149  ELTOMG004706  351629551781488  8901240177129856685
2     ELTOMG0149  ELTOMG004706  351629551808620  8901240177126175113
3     ELTOMG0149  ELTOMG004706  351629551823322  8901240177129869829
4     ELTOMG0149  ELTOMG004706  351629551845143  8901240177129859960
...          ...           ...              ...                  ...
8395  ELTOMG0758  ELTOMG022438  351629559018149  8901240177121343716
8396  ELTOMG0758  ELTOMG022438  351629559018222  8901240177121345034
8397  ELTOMG0758  ELTOMG022438  351629559018446  8901240177121343690
8398  ELTOMG0758  ELTOMG022438  351629559026720  8901240177121347691
8399  ELTOMG0758  ELTOMG022438  351629559027520  8901240177121347758

                  model      color           Location
0     Elite OctaMax 3GB      Black  Phoenix Worcester
1     Elite OctaMax 3GB      Black  Phoenix Worcester
2     Elite OctaMax 3GB      Black  Phoenix Worcester
3     Elite OctaMax 3GB      Black  Phoenix Worcester
4     Elite OctaMax 3GB      Black  Phoenix Worcester
...                 ...        ...                ...
8395  Elite OctaMax 3GB  Dark Gray      Washington DC
8396  Elite OctaMax 3GB  Dark Gray      Washington DC
8397  Elite OctaMax 3GB  Dark Gray      Washington DC
8398  Elite OctaMax 3GB  Dark Gray      Washington DC
8399  Elite OctaMax 3GB  Dark Gray      Washington DC

[8400 rows x 7 columns]

In [97]:
df.to_excel('output.xlsx')

READ 'B2B 10080 7182022'

In [98]:
data2 = pd.read_excel('./data/B2B 10080 7182022.xlsx', 'Sheet1')

In [99]:
print(data2.head())

       pallet        carton             imei                iccid  \
0  ELTTPK0004  ELTTPK000109  357958713000956  8901240177165383883
1  ELTTPK0004  ELTTPK000109  357958713001350  8901240177165383701
2  ELTTPK0004  ELTTPK000109  357958713002978  8901240177165383735
3  ELTTPK0004  ELTTPK000109  357958713005336  8901240177165384261
4  ELTTPK0004  ELTTPK000109  357958713006490  8901240177165384121

          model      color CLEC Inventory Location           FedEx  \
0  Elite T8Plus  Dark Grey  108  Phoenix Marketing  7774 2887 0550
1  Elite T8Plus  Dark Grey  108  Phoenix Marketing  7774 2887 0550
2  Elite T8Plus  Dark Grey  108  Phoenix Marketing  7774 2887 0550
3  Elite T8Plus  Dark Grey  108  Phoenix Marketing  7774 2887 0550
4  Elite T8Plus  Dark Grey  108  Phoenix Marketing  7774 2887 0550

  First Location
0  2-MidAtlantic
1  2-MidAtlantic
2  2-MidAtlantic
3  2-MidAtlantic
4  2-MidAtlantic

In [100]:
main_cols = list(df.columns)
cols = list(data2.columns)

print(main_cols, cols)
print(len(main_cols), len(cols))

['pallet', 'carton', 'imei', 'iccid', 'model', 'color', 'Location'] ['pallet', 'carton', 'imei', 'iccid', 'model', 'color', 'CLEC', 'Inventory Location', 'FedEx', 'First Location']
7 10

In [102]:

for col in cols:
    if col not in main_cols:
        df[col] = ""

print(df.head())

       pallet        carton             imei                iccid  \
0  ELTOMG0149  ELTOMG004706  351629551779045  8901240177129866049
1  ELTOMG0149  ELTOMG004706  351629551781488  8901240177129856685
2  ELTOMG0149  ELTOMG004706  351629551808620  8901240177126175113
3  ELTOMG0149  ELTOMG004706  351629551823322  8901240177129869829
4  ELTOMG0149  ELTOMG004706  351629551845143  8901240177129859960

               model  color           Location CLEC Inventory Location FedEx  \
0  Elite OctaMax 3GB  Black  Phoenix Worcester
1  Elite OctaMax 3GB  Black  Phoenix Worcester
2  Elite OctaMax 3GB  Black  Phoenix Worcester
3  Elite OctaMax 3GB  Black  Phoenix Worcester
4  Elite OctaMax 3GB  Black  Phoenix Worcester

  First Location
0
1
2
3
4